*, ::before, ::after {
  outline: none;
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 44%, 96%);
  background-image: url('/images/bg-top.svg'), url('/images/bg-bottom.svg');
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

p {
  font-size: 0.9rem;
  margin: 0;
}

.headTitle {
  color: hsl(233, 13%, 49%);
  margin: 0;
  margin-top: 1.5rem;
}

.togglePricing {
  margin-top: 2.25rem;
  color: hsl(0, 0%, 73%);
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider {
  display: inline-block;
  width: 42px;
  height: 24px;
  background: linear-gradient(to right, hsl(236, 72%, 79%) -30%, hsl(237, 63%, 64%));
  border-radius: 24px;
  position: relative;
  margin: 0 1rem;
}

.slider:hover {
  background: hsla(237, 63%, 64%, 0.404);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

#togglePricing:checked+.slider::before {
  left: 21px;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 1rem;
  width: 100%;
  max-width: max-content;
}

.pricing-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 210px;
  height: 285px;
  padding: 1.6rem 1.5rem;
  background-color: hsl(240, 100%, 99%);
  color: hsl(232, 13%, 33%);
  box-shadow: 0 0 40px 0 hsl(240, 50%, 92%);
  letter-spacing: 0.8;
  text-align: center;
  font-weight: 600;
}

.pricing-card .title {
  font-size: 0.81rem;
  letter-spacing: 0.25px;
}

.pricing-card p:not(.title) {
  padding: 0.8rem 0;
  border-bottom: 1px solid hsl(232, 28%, 90%);
  width: 100%;
  font-size: 0.625rem;
  letter-spacing: 0.6px;
}

.pricing-card:not(.professional) p:not(.price) {
  color: hsl(233, 8%, 44%);
}

.pricing-card p.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.1rem 0;
  letter-spacing: -1px;
}

.pricing-card p.price span {
  font-size: 3.25rem;
  font-weight: 700;
}

.cta-button {
  width: 100%;
  padding: 0.65rem 0.8rem;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 5px;
  color: hsl(240, 78%, 98%);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 9px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.cta-button:hover {
  background: none;
  box-shadow: 1px 1px hsl(237, 63%, 64%), -1px -1px hsl(237, 63%, 64%), 1px -1px hsl(237, 63%, 64%), -1px 1px hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}

.basic {
  border-radius: 8px 0 0 8px;
}

.master {
  border-radius: 0 8px 8px 0;
}

.professional {
  height: 320px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: none;
  color: hsl(240, 78%, 98%) !important;
  background: linear-gradient(to bottom right, hsl(236, 72%, 79%) -30%, hsl(237, 63%, 64%));
  justify-content: center;
}

.professional p:not(.title) {
  border-bottom-color: hsla(233, 48%, 76%, 0.705);
  color: hsl(240, 78%, 98%) !important;
}

.professional .cta-button {
  background: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
}

.professional .cta-button:hover {
  background: none;
  box-shadow: 1px 1px hsl(240, 78%, 98%), -1px -1px hsl(240, 78%, 98%), 1px -1px hsl(240, 78%, 98%), -1px 1px hsl(240, 78%, 98%);
  color: hsl(240, 78%, 98%);
}

@media screen and (max-width:375px) {
  body {
    justify-content: flex-start;
    background-position: -1150% -50%, -9000%;
  }
  .headTitle {
    margin-top: 2.5rem;
  }
  .pricing {
    flex-direction: column;
  }
  .pricing-card {
    margin: 1rem;
    border-radius: 8px;
  }
  .professional {
    box-shadow: 0 0 40px 0 hsl(240, 50%, 92%);
  }
}